* {box-sizing: border-box}

/*input fields*/

.pass {

    width: 50%;
    padding: 10px;
    margin: 5px 0 20px 0;
    display: inline-block;
    border: none;
    background : f1f1f1;
}
.pass{
    background-color: #ddd;
    outline: none;
}
hr {
    border: 1px solid #f1f1f1;
margin-bottom: 25px;
 }

 /*style for buttons*/

 button {
     background-color: #4CAF50;
     color: white;
     padding : 14px 18px;
     margin: 8px 0;
     border : none;
     cursor : pointer;
     width: 100%
 }

 /*style for cancel button*/

 .cancelbutton {
     padding: 14px 15px;
     background-color: #f44336;
 }

 /*Float cancel and sign up buttons and add equal width*/

.cancelbutton, .SignUpbutton{
    float: left;
    width: 20%
}
/*add padding to container elements*/
.container {
    padding: 14px;
}

/*Clear floats*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;

}
/*change styles for cancel and sign up btns on phone*/
@media screen and (max-width: 300px){
    .cancelbutton, .SignUpbutton{
        width: 100%;
    }
}